/*
 * style sheet for the frontpage app
 * Headline color: #fd9b26
 * dark background: #282626
 * Less dark background: #393737
 * Font color: #fefefe
 * Error color: #e74c3c
 */


img {
    border: 10px inset;
}

code {
    font-family: monospace;
    background: #eeeeee;
    color: #0e0e0e;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    padding: 15px;
}

tr:hover {
    background-color: #eeeeee
}

.small_search_bar {
    position: fixed;
    width: 200px;
    right: 15px;
}

.large_search_bar {
    width: 80%;
}

.search_preview {
    margin: 25px;
}

.panel_board {
    position: fixed;
    right: -35px;
    height: 95%;
    width: 89%;
    top: 50px;
}

.button {
    display: block;
    height: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background: #009688!important;
    font-weight: bold;
    display: inline;
}

.button-img {
    width: 48px;
    height: auto;
    display: inline;
    border-radius: 5px;
    border-style: none;
    background: #009688!important;
    margin: 1%;
}

.icon {
    width: 48px;
    height: auto;
    display: inline;
    border: 1px;
    border-style: none;
}

.user-menu {
    position: fixed;
    right: 15px;
    text-align: right;
}

.admin-popup {
    padding: 15px;
    width: 80%;
    position: fixed;
    left: 10%;
    height: auto;
}

.error-panel {
    padding: 25px;
    background: #e74c3c;
    border-radius: 10px;
}

.user_link_division {
    text-align: center;
    height: auto;
    width: 75px;
}

.user_avatar {
     height: 25px;
     width: auto;
     border: none;
}

img.large-flash-image {
    width: inherit;
    height: auto;
}
