/*
 * style sheet for the frontpage app
 */


image {
    border: 10px inset;
}

div.article_list_detail {

}

code {
    font-family: monospace;
}

.featurebar {
    width: 100px;
    /*use darker background color from template*/
}

.small_search_bar {
    width: 150px;
}

.large_search_bar {
    width: 80%;
}

.search_preview {
    margin: 25px;
}

.button {
    display: block;
    /*width: 115px;*/
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}