/*
 * style sheet for the frontpage app
 * Headline color: #fd9b26
 * dark background: #282626
 * Less dark background: #393737
 * Font color: #fefefe
 */


image {
    border: 10px inset;
}

div.article_list_detail {

}

code {
    font-family: monospace;
    background: #eeeeee;
    color: #0e0e0e;
}

a:visited {
    color: #0fefefe;
}

a:hover {
    color: #0fefefe;
}

a:active {
    color: #fd9b26;
}

a:link {
    color: #0fefefe;
}

body {
    background: #393737;
    color: #fefefe;
}

.featurebar {
    position: fixed;
    padding: 15px;
    width: 9%;
    top: 50px;
    /*use darker background color from template*/
    background: #282626;
    line-height: 25px;
}

.small_search_bar {
    width: 150px;
}

.large_search_bar {
    width: 80%;
}

.search_preview {
    margin: 25px;
}

.order_table {

}

.panel_board {
    position: fixed;
    right: -35px;
    height: 95%;
    width: 89%;
    top: 50px;
    /*background: #696767;*/
}

.button {
    display: block;
    /*width: 115px;*/
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}